services:
  portfolio:
    image: ${IMAGE_NAME:-davidjrdocker/portfolio-app}:${TAG:-latest}
    container_name: portfolio-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    ports:
      - "3002:3001"
    networks:
      - rede-publica
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3001/api/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  rede-publica:
    external: true
